body {
  margin: 0;
  font-family: "Helvetica", "Arial", sans-serif;
}
h1 {
  text-align: center;
  margin-top: 2rem;
}
h3 {
  text-align: center;
  margin-bottom: inherit;
  margin-top: 1rem;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
figure {
  text-align: center;
}
p {
  color: #002e40;
}
/* p {
  margin: 2rem 5rem;
}
@media screen and (max-width: 40em) {
  p {
    margin: 1rem;
  }
} */
.ancho-100 {
  width: 100%;
}
/* .inicio {
  position: absolute;
  left: 2em;
  top: 10em;
} */
.navbar {
  border-bottom: 0.3rem solid #002e4080;
}
.nav-link {
  background-color: #ffffff20;
  color: #002e40;
  font-weight: bold;
  min-width: 15%;
}
.logo {
  min-height: 3rem;
  margin-left: 2rem;
}
@media screen and (max-width: 500px) {
  .logo {
    min-height: 2rem;
    margin-left: 0;
  }
}
.inicio img {
  margin-left: 2rem;
}
/* @media screen and (max-width: 40em){
  .inicio {
    width: auto;
    text-align: center;
    min-width: 6rem;
  }
} */
.promo-img {
  background-image: url("./images/fondo.jpg");
  background-size: 100% auto;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 85vh;
  /* text-align: center; */
  padding-top: 6rem;
  color: #002e40;
}
@media screen and (max-width: 1200px) {
  .promo-img {
    background-image: url("./images/fondo.jpg");
    background-size: 200%;
    background-position: bottom;

    height: 90vh;
  }
}
@media screen and (max-width: 720px) {
  .promo-img {
    background-image: url("./images/fondo.jpg");
    background-size: 120%;

    height: 85vh;
  }
}
.fondo {
  background-color: #212529;
}
img {
  text-align: center;
  max-width: 100%;
}
/* PARA EL MARGEN QUE ME RESTA LA BARRA DE NAVEGACION FIJA */
.primer-elem {
  margin-top: 4rem;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-subir {
  text-align: center;
  color: white;
  background-color: #212529;
  border: 1px solid white;
  border-radius: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.btn-subir a {
  text-decoration: none;
  color: inherit;
}
.footer {
  width: 100%;
  background-color: #002e4020;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
  color: aliceblue;
  border-top: 0.3rem solid #002e4080;
}
.flextoy {
  padding-right: 4rem;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 2rem;
}
.tarjeta {
  max-width: 25%;
  margin-top: 1rem;
  align-content: center;
}
.tarjeta2 {
  min-width: 25rem;
  max-width: 40%;
  margin-top: 1rem;
  align-content: center;
}
.tarjeta2:last-child {
  margin-left: auto;
  margin-right: auto;
}
.tarjeta2:nth-child(2n) {
  margin-left: auto;
  margin-right: auto;
}
.tarjeta2:nth-child(2n-1) {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 980px) {
  .tarjeta {
    min-width: 15rem;
    max-width: 40%;
  }
}
@media screen and (max-width: 720px) {
  .tarjeta {
    max-width: 80%;
    align-items: center;
  }
}
/* cita */
blockquote {
  background: #ffffff75;
  border-left: 10px solid #002e40;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  max-width: 40%;
  text-align: end;
}
blockquote:before {
  color: #002e40;
  content: open-quote;
  font-size: 10em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  font-size: 1.5em;
}
@media screen and (max-width: 1200px) {
  blockquote {
    max-width: 70%;

    margin-top: 0;
  }
}
@media screen and (max-width: 720px) {
  blockquote {
    max-width: 80%;

    margin-top: 1rem;
  }
  blockquote p {
    font-size: 1.2em;
  }
}

.cita {
  display: flex;
  margin-right: 1rem;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 3rem;
}
.carrusel {
  background-color: #212529;
}
.tarjetas {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-bottom: 4rem;
  background-color: #002e4060;
  border-radius: 30px;
  margin: 2rem;

  margin-top: 0;
}
@media screen and (max-width: 720px) {
  .tarjetas {
    flex-direction: column;
  }
}
.indivCard {
  display: inline-block;
  margin-left: 4%;
  margin-right: 4%;
  padding-left: 4%;
  padding-right: 4%;
  max-width: 25%;
  margin-bottom: 2rem;
  background-color: #ffffff70;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}
/* .indivCard:nth-child(2n) {
  margin-left: auto;
  margin-right: auto;
}
.indivCard:nth-child(2n-1) {
  margin-left: auto;
  margin-right: auto;
} */
@media screen and (max-width: 720px) {
  .indivCard {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%;
  }
}
.frasePortada {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 575px) {
  .frasePortada {
    width: 80%;
  }
}
.btn-cover {
  color: #002e40;
  background-color: #ffffff70;
  border-radius: 10px 10px 0 0;
  margin-top: 1rem;
  font-size: 150%;
  padding: 0 5%;
}
.btn-cover2 {
  color: #002e40;

  border-radius: 10px 10px 0 0;

  font-size: 150%;
  padding: 5%;
  width: 100%;
  margin-bottom: 0;

  margin-top: 0;
}
.btn-cover2:hover {
  /* color: white; */
  /* background-color: #002e40; */
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(0, 46, 64, 0.2),
    rgba(0, 46, 64, 0.4),
    rgba(0, 46, 64, 0.2),
    rgba(255, 255, 255, 0)
  );
}

.btn-group-cover {
  background-color: #002e4060;
  margin-left: 2%;
  margin-right: 2%;
}
.eslogan {
  margin-right: auto;
  margin-left: 3rem;
  text-align: left;
  color: rgba(0, 46, 64, 255);
  font-size: 150%;
}
@media screen and (max-width: 500px) {
  .btn-cover {
    font-size: 100%;
  }
  blockquote p {
    font-size: 1em;
  }
  .eslogan {
    font-size: 1em;
    margin-left: 1rem;
  }
  .promo-img {
    padding-top: 4rem;
  }
}
@media screen and (max-width: 320px) {
  blockquote p {
    font-size: 0.8em;
  }
}
.card-1 {
  background-image: url("./images/dis/fondoDiseño.jpg");
  height: 70vh;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.card-2 {
  background-image: url("./images/fab/fondoFab.jpg");
  height: 70vh;
  background-position: bottom;
  background-size: auto 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.card-3 {
  background-image: url("./images/mon/fondoMon.jpg");
  height: 70vh;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.page-2 {
  min-height: 100vh;
  background-image: url("./images/fondo.jpg");
  background-size: 100% auto;
  background-position: bottom;
  background-repeat: no-repeat;
}
.indivCard p {
  margin-top: auto;
  margin-bottom: auto;
}
.fondo-blanco {
  background-color: #ffffffb0;
  margin: auto 0.5em;
}
p.logo {
  margin-bottom: 0;
  min-height: auto;

  font-size: 1rem;
}
